<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <navbar>
    <a href="/create_article">Créer un article</a>
    <a href="/profile">Profil</a>
    <a href="/logout">Déconnexion</a>
    </navbar>


<!-- affichage des articles button modifier et supprimer  -->
    <h1>Blog Personnel</h1>
    <h2>Articles</h2>
    <ul>
        {% for article in list_articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <h4>{{ article.content }}</h4>
                <a href="/edit_article/{{ article.id }}" method="post">Modifier</a>
                <a href="/delete_article/{{ article.id }}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>