<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>

    </style>

<div class="form_text">
    <form action="/post_form" method="post">
        <div class="in_form">
            <h3>Form</h3>
            <h5> Enter text:</h5>
            <textarea name="textarea1" id="txt1" cols="40" rows="20" style="border-radius: 5px;"></textarea>
            <input type="submit" value="Submit">
        </div>
        <h1>Se connecter</h1>
    </form>
</div>
<form action="/post_form" method="post">
    <input type="text" name="username" placeholder="Nom d'utilisateur">
    <input type="password" name="password" placeholder="Mot de passe">
    <input type="submit" value="Se connecter">
</form>
</body>
</html>